
        .container {
            /* background-color: rgb(188, 0, 212); */
            background-image: url(" ../images/HeroBackground.jpg");
            background-size: 650px;
            height: 650px;
            text-align: center;
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 23px;
            color: white;
            border: 5px double black;
            margin-top: 25px;
            text-shadow: 4px 1px #000000;
    
        }
    
        .jumbotron {
            padding: 0px;
        }
    
        h1 {
            font-size: 45px;
        }
    
        #you-answered {
            color: rgb(255, 251, 0);
        }
    
        .fortune-teller {
            width: 200px;
            margin-top: 15px;
        }
        